
.clube-escudo{
    width: 40px !important;
    height: 40px !important;
}

.height-80 {
  height: 80px !important;
  border-bottom: 1px solid #dedede;
}

#clube-casa-escudo{
    justify-self: center;
}

#clube-visitante-escudo {
  justify-self: center;
}

.display-grid{
    display: grid;
    justify-content: center;
}

.partida-item .label-md{
    margin-bottom: 0px;
}

#icon-open-list-rodadas{
    position: absolute;
    right: 16px;
}
