<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Detalhes da liga
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="60" pullMax="120">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar..." refreshingSpinner="bubbles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="liga-flamula-content">
      <ion-item>
        <ion-thumbnail item-start class="liga-flamula">
          <img src="{{liga.url_flamula_svg}}">
        </ion-thumbnail>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <h2 text-uppercase>{{liga.nome}}</h2>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center align-self-center class="lbl-nome-bold">
        Time
      </ion-col>
      <ion-col col-3 text-center>
        <button class='btn-order-by' ion-button outline small (click)="orderLigaBy('pontos.rodada', order)">
          <ion-icon float-right class="seta-order" [hidden]='orderBy != "pontos.rodada"' name="{{order=='asc'?'ios-arrow-round-up':'ios-arrow-round-down'}}"></ion-icon>
          Parcial
        </button>
      </ion-col>
      <ion-col col-3 text-center>
        <button class='btn-order-by' ion-button outline small (click)="orderLigaBy('pontos.campeonato', order)">
          <ion-icon float-right class="seta-order" [hidden]='orderBy != "pontos.campeonato"' name="{{order=='asc'?'ios-arrow-round-up':'ios-arrow-round-down'}}"></ion-icon>
          Total
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngFor="let time of liga.times">
    <ion-grid>
      <ion-row align-items-center id="border-bottom-row" (click)="timeDetail(time)">
        <ion-col col-6>
          <ion-item class="time-item item-escudo">
            <ion-thumbnail item-start class="time-escudo">
              <img id="escudo" src="{{time.url_escudo_svg}}">
              <img class="time-perfil-foto" src="{{time.foto_perfil}}">
            </ion-thumbnail>
            <h3 class='lbl-nome lbl-nome-bold' [innerHtml]="(orderBy=='pontos.rodada'?time.ranking.rodada:time.ranking.campeonato)+'°'"></h3>
            <h3 class='lbl-nome lbl-nome-bold'>{{time.nome}}</h3>
            <p class="lbl-nome">{{time.nome_cartola}}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="time-item">
            <p class="lbl-nome lbl-nome-bold" text-right [ngStyle]="{'color': time.pontos.rodada>0? 'green' : 'red'}">{{formatPontos(time.pontos.rodada)}}</p>
            <p class="lbl-nome lbl-nome-bold" text-right>C$ {{time.patrimonio}}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="time-item">
            <p class="lbl-nome lbl-nome-bold" text-right>{{formatPontos(time.pontos.campeonato)}}</p>
            <p class="lbl-nome lbl-nome-bold" text-right [ngStyle]="{'color': variacaoColor(time.variacao.campeonato)}">
              <ion-icon class="seta-variacao" *ngIf='time.variacao.campeonato!=0' name="{{time.variacao.campeonato>0?'ios-arrow-round-up':'ios-arrow-round-down'}}"></ion-icon>
              {{time.variacao.campeonato==0?'-':time.variacao.campeonato}}
            </p>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-grid>


  </ion-list>
</ion-content>
