<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Detalhes do time
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="60" pullMax="120">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar..." refreshingSpinner="bubbles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="time-escudo-svg-content">
      <ion-item>
        <ion-thumbnail item-start class="time-escudo-svg">
          <img src="{{time.url_escudo_svg}}">
        </ion-thumbnail>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <h2 text-center>{{time.nome}}</h2>
        <p text-center>{{time.nome_cartola}}</p>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col text-center align-self-center class="lbl-nome-bold">
        <ion-item class="no-border-bottom">
          <p class="lbl-nome lbl-nome-bold" text-center>Pontuados</p>
          <p class="lbl-nome lbl-nome-bold" text-center>{{time.pontuados}}/12</p>
        </ion-item>
      </ion-col>
      <ion-col text-center align-self-center class="lbl-nome-bold">
        <ion-item class="no-border-bottom">
          <p class="lbl-nome lbl-nome-bold" text-center>Parcial</p>
          <p class="lbl-nome lbl-nome-bold" text-center [ngStyle]="{'color': time.pontos.rodada>0? 'green' : 'red'}">{{time.pontos.rodada}}</p>
        </ion-item>
      </ion-col>
      <ion-col text-center align-self-center class="lbl-nome-bold">
        <ion-item class="no-border-bottom">

          <p class="lbl-nome lbl-nome-bold" text-center>Total</p>
          <p class="lbl-nome lbl-nome-bold" text-center>{{time.pontos.campeonato}}</p>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-list *ngFor="let atleta of time.atletas">
    <ion-grid>
      <ion-row align-items-center id="border-bottom-row">
        <ion-col class="jogador-container" col-10>
          <ion-item class="">
            <ion-avatar item-start class="foto-jogador-container">
              <img class="foto-jogador" src="{{atleta.foto.replace('FORMATO', '140x140')}}">
            </ion-avatar>
            <h2 text-left class='lbl-nome lbl-nome-bold'>{{atleta.apelido}}</h2>
            <p text-left class='lbl-nome' text-uppercase>
              <span class="lbl-nome-bold">{{getPosicao(atleta.posicao_id)}}</span> - 
              <span class="lbl-nome-bold">{{getTime(atleta.clube_id)}}</span>
            </p>

          </ion-item>
        </ion-col>

        <ion-col>
          <h3 text-center class='lbl-nome lbl-nome-bold' [ngStyle]="{'color': atleta.pontos_num>0? 'green' : 'red'}">{{atleta.pontos_num}}</h3>


        </ion-col>

        <!-- <ion-col>
          <ion-item class="time-item">
            <p class="lbl-nome lbl-nome-bold" text-right [ngStyle]="{'color': time.pontos.rodada>0? 'green' : 'red'}">{{formatPontos(time.pontos.rodada)}}</p>
            <p class="lbl-nome lbl-nome-bold" text-right>C$ {{time.patrimonio}}</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="time-item">
            <p class="lbl-nome lbl-nome-bold" text-right>{{formatPontos(time.pontos.campeonato)}}</p>
            <p class="lbl-nome lbl-nome-bold" text-right [ngStyle]="{'color': variacaoColor(time.variacao.campeonato)}">
              <ion-icon class="seta-variacao" *ngIf='time.variacao.campeonato!=0' name="{{time.variacao.campeonato>0?'ios-arrow-round-up':'ios-arrow-round-down'}}"></ion-icon>
              {{time.variacao.campeonato}}</p>
          </ion-item>
        </ion-col> -->

      </ion-row>

    </ion-grid>


  </ion-list>
</ion-content>
