<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Detalhes do time
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="60" pullMax="120">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar..." refreshingSpinner="bubbles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="time-escudo-svg-content">
      <ion-item>
        <ion-thumbnail item-start class="time-escudo-svg">
          <img id="escudo" src="{{time.url_escudo_svg}}">
          <img class="time-perfil-foto-icon" src="{{time.foto_perfil}}">
        </ion-thumbnail>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <h2 text-center>{{time.nome}}</h2>
        <p text-center>{{time.nome_cartola}}</p>
      </ion-item>
    </ion-row>

    <ion-item class="height-60px">
      <ion-row>
        <ion-col text-center align-self-center class="lbl-nome-bold">
          <ion-item class="no-border-bottom">
            <p class="lbl-nome lbl-nome-bold" text-center>Pontuados</p>
            <p class="lbl-nome lbl-nome-bold" text-center>{{time.pontuados}}/12</p>
          </ion-item>
        </ion-col>
        <ion-col text-center align-self-center class="lbl-nome-bold">
          <ion-item class="no-border-bottom">
            <p class="lbl-nome lbl-nome-bold" text-center>Parcial</p>
            <p class="lbl-nome lbl-nome-bold" text-center [ngStyle]="{'color': time.pontos.rodada>0? 'green' : 'red'}">{{time.pontos.rodada}}</p>
          </ion-item>
        </ion-col>
        <ion-col text-center align-self-center class="lbl-nome-bold">
          <ion-item class="no-border-bottom">
            <p class="lbl-nome lbl-nome-bold" text-center>Total</p>
            <p class="lbl-nome lbl-nome-bold" text-center>{{time.pontos.campeonato}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-row margin-top>
      <ion-col col-7 text-center align-self-center class="lbl-nome-bold">
        Jogador
      </ion-col>
      <ion-col col-5 text-center align-self-center class="lbl-nome-bold">
        Parcial
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-grid>
      <ion-row align-items-center id="border-bottom-row" *ngFor="let atleta of time.atletas" (click)="viewTimes(atleta)">
        <ion-col class="jogador-container" col-7>
          <ion-item>
            <ion-avatar item-start class="foto-jogador-container">
              <img class="foto-jogador no-radius" src="{{atleta.foto.replace('FORMATO', '140x140')}}">
              <img class="jogador-escudo-time no-radius" src="{{time.clubes[atleta.clube_id].escudos['60x60']}}">
            </ion-avatar>
            <h3 text-left class='font-13px lbl-nome-bold'>{{atleta.apelido}}</h3>
            <p text-left class='lbl-nome-09-rem lbl-nome-bold' text-uppercase>{{getPosicao(atleta.posicao_id)}}</p>
          </ion-item>
        </ion-col>
        <ion-col class="jogador-container" col-5>
          <ion-item>
            <h3 text-center class='lbl-nome-bold font-13px' [ngStyle]="{'color': (atleta.pontos_num>0? 'green' : (atleta.pontos_num<0?'red':''))}">{{atleta.atleta_id==time.capitao_id?(atleta.pontos_num*2):atleta.pontos_num}}</h3>
            <p text-center class='lbl-nome-09-rem' *ngIf='atleta.posicao_id != 6'>
              <!-- <span *ngFor="let scout of atleta.scoutAbreviado" [ngStyle]="{'color': scout.color}"></span>{{atleta.scoutAbreviado.length>0}} -->
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
