.time-escudo-svg-content {
  align-self: center;
}

.time-escudo-svg {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.time-escudo-svg img {
  width: 85px;
  height: 87px !important;
}

.no-border-bottom .item-inner {
  border-bottom: 0px !important;
}
