<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Meu Time
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="vertical-align-content" *ngIf="teamInfo">
  <ion-row justify-content-center >
    <ion-img id="escudo_svg" src="{{teamInfo.url_escudo_svg}}"></ion-img>
  </ion-row>

  <ion-row>
    <ion-item id="nm-time">
      <h2>{{teamInfo.nome}}</h2>
    </ion-item>
  </ion-row>
</ion-content>

<ion-content padding class="vertical-align-content" *ngIf='!userLogged'>
  <ion-row justify-content-center *ngIf='!userLogged'>
    <button ion-button outline large text-uppercase (click)="openPage('LoginPage')">Login</button>
  </ion-row>
</ion-content>


<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary" id='menu_header'>
      <ion-title postion="bottom">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage('LoginPage')">
        Login
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content></ion-nav>
