<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Meu Time
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="teamInfo">
  <ion-row justify-content-center>
    <ion-img id="escudo_svg" src="{{teamInfo.url_escudo_svg}}"></ion-img>
  </ion-row>

  <ion-row>
    <ion-item id="nm-time">
      <h2>{{teamInfo.nome}}</h2>
    </ion-item>
  </ion-row>

</ion-content>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary" id='menu_header'>
      <!-- <img width="64px" src="assets/imgs/malandro.jpg"> -->
      <ion-title postion="bottom">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button *ngIf="!teamInfo" ion-item (click)="openPage('LoginPage')">
        Login
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content></ion-nav>
