#escudo_svg{
    width:120px;
    height:125px;
    background-color: transparent !important
}

.item-inner h2{
  text-align: center;
  font-weight: bold;
}


#nm-time .item-inner{
    border-bottom: 0px !important;
}

.vertical-align-content>* {
  display: grid !important;
  align-content: center !important;
  align-items: center !important;
  margin-bottom: 64px;
}

