<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Detalhes do jogador
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="jogador-foto-row">
      <ion-item class="no-border-bottom">
        <ion-thumbnail text-center>
          <img src="{{atleta.foto.replace('FORMATO', '140x140')}}">
          <img class="jogador-details-escudo-time no-radius" src="{{clube.escudos['60x60']}}">
        </ion-thumbnail>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <h2 id="nome-jogador" text-uppercase>{{atleta.apelido}}</h2>
        <p text-center>{{posicao.nome}}</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="no-border-bottom">
        <h2 class="lbl-nome-bold">Scout</h2>
      </ion-item>
    </ion-row>
    <ion-row margin-bottom *ngIf="atleta.scout">
      <ion-col col-5 offset-1 text-center align-self-center class="lbl-nome-bold">
        Ação
      </ion-col>
      <ion-col col-4 offset-1 text-center align-self-center class="lbl-nome-bold">
        Pontos
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!atleta.scout">
      <ion-item>
        <p text-center>Jogador não pontuou na rodada</p>
      </ion-item>
    </ion-row>
    <ion-list class="border-bottom">
      <ion-row align-items-center *ngFor="let scout of atleta.scout">
        <ion-col col-6 offset-1 text-left>
          <h3 class="lbl-nome-bold scout-name">{{scout.quantidade}} {{scout.acao}}</h3>
        </ion-col>
        <ion-col col-4 text-center>
          <h3 class="lbl-nome-bold scout-name" [ngStyle]="{'color': scout.pontos>0? 'green' : 'red'}">{{scout.pontos}}</h3>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-item class="no-border-bottom">
        <h2 class="lbl-nome-bold">Times com esse jogador</h2>
      </ion-item>
    </ion-row>
    <ion-row *ngIf='timesComAtleta.length==0'>
      <ion-item>
        <p text-center>Nenhum time escalou este jogador</p>
      </ion-item>
    </ion-row>
    <ion-list>
      <ion-grid>
        <ion-row align-items-center id="border-bottom-row" *ngFor="let time of timesComAtleta" (click)="timeDetail(time)">
          <ion-col col-8>
            <ion-item class="time-item item-escudo">
              <ion-thumbnail item-start class="time-escudo">
                <img id="escudo" src="{{time.url_escudo_svg}}">
                <img class="time-perfil-foto" src="{{time.foto_perfil}}">
              </ion-thumbnail>
              <h3 class='lbl-nome lbl-nome-bold' id="nomeTime">{{time.nome}}</h3>
              <p class="lbl-nome">{{time.nome_cartola}}</p>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <p class="lbl-nome lbl-nome-bold" text-right [ngStyle]="{'color': time.pontos.rodada>=0? 'green' : 'red'}">{{time.pontos.rodada}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-grid>
</ion-content>
