.jogador-foto-row {
  align-self: center;
}

.jogador-details-escudo-time {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  left: 10px;
  top: 5px;
}

.no-border-bottom ion-label{
  margin-bottom: 0px;
}
.scout-name{
  margin-bottom: 0px !important;
  font-size: 1.2rem;
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}

#nomeTime{
  line-height: 1.5rem;
}

#nome-jogador{
  padding-top: 3px;
}
