.jogador-foto-row {
  align-self: center;
}

.jogador-details-escudo-time {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  left: 10px;
  top: 5px;
}

.no-border-bottom ion-label{
  margin-bottom: 0px;
}
